<div class="row">
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Torta de zanahoria fitness" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Torta de manzana y miel agave" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Torta tres leches de coco" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Brownies con nueces saludable" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Torta María luisa vegana" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Cheesecake horneado de chocolate sin harina" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Cheesecake de arándanos saludable" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="Torta de limón sin gluten ni lactosa" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
</div>

