.row {
    margin: 20px;
}

.card {
    width: 18rem;
    height: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 10px;
}

.btn-primary {
    float: right;
}