<p>Lo pedidos</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/img/img_ensayo/torta_1.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">red member</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/img_ensayo/torta_2.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/img/img_ensayo/torta_2.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                </div>
            </div>
        </div>
    </div>
</div>
