<p>Lo pedidos</p>

<div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
    <div class="row carousel-inner">
        <div class="col-md-4 carousel-item active">
            <div class="card">
                <img src="/img/img_ensayo/torta_1.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">red member</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item active">
            <div class="card">
                <img src="/img/img_ensayo/torta_2.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">lIMON</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item active">
            <div class="card">
                <img src="/img/img_ensayo/torta_1.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">NARANJA</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item active">
            <div class="card">
                <img src="/img/img_ensayo/torta_2.jpeg" class="card-img-top" alt="Imagen de torta">
                <div class="card-body">
                    <h5 class="card-title">PERA</h5>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
