:host {
    --color-titulo: #B062E9;
    --color-parrafo: #000;
    --color-titulo-hover: #E1BEFA;
    --color-borde: #E1BEFA;
    --tamano-letra-titulo: 20px;
}

#p-titulo-lo-mas-vendido {
    text-align: center;
    font-size: 20px;
    color: var(--color-titulo);
    font-weight: bold;
}
#p-titulo-lo-mas-vendido:hover {
    color: var(--color-titulo-hover);
}

img {
    width: 1000px;
    height: 500px;
    margin:0 15%;
}
