:host {
    --color-titulo: #B062E9;
    --color-parrafo: #000;
    --color-titulo-hover: #E1BEFA;
    --color-borde: #E1BEFA;
    --tamano-letra-titulo: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border: 1px solid #E1BEFA;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

#p-titulo {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--color-titulo);
}

#p-titulo:hover {
    transform: scale(1.2);
    color: var(--color-titulo-hover);
}


.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    filter: invert(1);
}

/* /////  SOLO @MEDIA  ///// */

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
    }
}