
<p id="p_quinesSomos">
    <b>QUIENES SOMOS</b>
</p>
<div class="row">
    <div class="col-12 col-md-4 p-3"></div>
</div>
<p id="descripcion">
    Delicias de Terciopelo es una empresa de postres y ponqués artesanales ubicada en Colombia, reconocida por su versatilidad y
    compromiso con la calidad. Ofrecemos una amplia gama de opciones que satisfacen todos los gustos y necesidades dietéticas,
    incluyendo postres sin azúcar, bajos en azúcar y tradicionales. Se realizan creaciones personalizadas para eventos especiales, 
    cada postre es elaborado con ingredientes de alta calidad. En Delicias de Terciopelo, creemos que todos merecen un momento dulce, 
    por eso cada pieza es cuidadosamente diseñada para ofrecer placer sin comprometer el sabor.
</p>