<!-- MODIFICAR LOS TITULOS -->

<div class="row">
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="ANDRU" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="FELIPE" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="ANDRU" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="FELIPE" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="ANDRU" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="FELIPE" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="ANDRU" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>

    <div class="col-6 col-md-4 p-2">
        <div>
            <app-card titulo="FELIPE" descripcion="Some quick example text to build on the card title and make up the bulk of the card's content." img=""></app-card>
        </div>
    </div>
</div>

