:host {
    --color-texto-header: #000;
    --color-borde-header: #b062e9;
    --color-hover: #b062e9;
    --color-fondo-btn: #b062e9;
    --color-texto:#400505;
    --color-texto-btn: #fff;
}

.navbar {
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-borde-header);
}

.navbar-brand {
    color: var(--color-texto-header); 
    text-decoration: none;
}

.navbar-brand:hover {
    color: var(--color-hover);  
}

.navbar-brand img {
    border-radius: 50%;
}

/* a{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
} */

.btn-producto {
    background-color: var(--color-fondo-btn);
    border: 1px solid var(--color-borde-header);
    color: var(--color-texto-btn);
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-desplegable {
    background-color: var(--color-fondo-btn);
    border: 1px solid var(--color-borde-header);
    border-radius: 10px;
    color: var(--color-texto-btn);
}




@media (max-width: 768px) {
    .navbar-brand {
        display: block;
    }
}
