:host {
    --color-texto-header: #000;
    --color-borde-header: #b062e9;
    --color-hover: #9319eb;
    --color-fondo-btn: #b062e9;
    --color-texto:#400505;
    --color-texto-btn: #fff;
    --color-fondo-header: #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-fondo-header);
}

.header a {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.btn-producto {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-fondo-btn);
    color: var(--color-texto-btn);
    transition: background-color 0.3s ease;
}

.btn-producto:hover {
    background-color: var(--color-hover);
}

p-header {
    color: var() ;
}