<p>cobertura-horario-medio-de-pago works!</p>
<div class="container">
    <div class="section">
        <img src="icon-delivery.png" alt="Cobertura">
        <h3>Cobertura</h3>
        <p>
            Norte: Desde Cl 1 hasta Cl 200<br>
            Sur: Desde Cl 1 hasta Cl 64<br>
            Oriente: Hacia Cra 1<br>
            Occidente: Hacia Cra 68<br>
        </p>
    </div>
    <div class="section">
        <img src="icon-delivery.png" alt="Cobertura">
        <h3>Horario</h3>
        <p>
            Mañana: 9:00 am a 13:00 pm <br>
            Tarde: 13:00 pm a 17:00 pm
        </p>
    </div>
    <div class="section">
        <img src="icon-delivery.png" alt="Cobertura">
        <h3>Correo electronico</h3>
        <p>
            <a href="andrubjj@gmail.com">Prengunte por correo electronico</a><br>
            <a href="">Prengunte por whatsaoo</a>
        </p>
    </div>

</div>