
<div class="container">
    <div class="section">
        <!-- <img src="icon-delivery.png" alt="Cobertura"> -->
        
        <h3>Cobertura</h3>
        <p>
            Norte: Desde Cl 1 hasta Cl 200
            <br>
            Sur: Desde Cl 1 hasta Cl 64
            <br>
            Oriente: Hacia Cra 1
            <br>
            Occidente: Hacia Cra 68
            <br>
        </p>
    </div>
    <div class="section">
        <!-- <img src="icon-delivery.png" alt="Cobertura"> -->
        <h3>Horario</h3>
        <p>
            9:00 am a 12:00 pm 
            <br>
            13:00 a 17:00
        </p>
    </div>
    <div class="section">
        <!-- <img src="icon-delivery.png" alt="Cobertura"> -->
        <h3>Comuniquese</h3>
        <p>
            <a href="">andrubjjgmail.com</a>
        </p>
    </div>
</div>